{% extends 'base.html' %}

{% block content %}
  <div class="container principal">
    <div class="row">
        <section class="col-lg-offset-1 col-lg-5 indique">
            <p class="paragraphe">
                Trouver des recettes à partir <br>
                de vos ingredients <br>
                disponibles ! C'est facile et <br>
                rapide.
            </p>

            <div class="form-group form1">
                <label for="">Indiquez vos ingredients</label>
                <input type="text" class="form-control" id="inputValue">
                <div id="suggest-ingredients">

                </div>
                <span id="empty-add"></span><br>
                <button class="btn add-ingredient">Ajouter</button>
            </div>
        </section>
        <aside class="col-lg-offset-1 col-lg-4">
            <h2>Liste de vos ingredients</h2>
            <div class="liste-ingredients">

            </div>
            <form action="{% url 'recips:result' %}" method="post">
              {% csrf_token %}
              <span id="empty-submit"></span><br>
              <button class="btn" type="submit" id="submit">Trouver recettes</button>
            </form>
        </aside>
    </div>
  </div>
{% endblock %}
