<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recips</title>
  </head>
  <body>
    <h1>Bienvenue dans l'univers des belles recettes</h1>

    <h2>Entrez vos ingredients disponible ici</h2>
    <form class="" action="{% url 'recips:result' %}" method="post">
      {% csrf_token %}
      <div id="liste_ingredients">
        <input type="text" name="ingredient1" class="ingredients"><br>
      </div>

      <button>Ajouter un autre ingredient</button>

      <p>
        <input type="submit" name="" value="Trouver recettes dispo">
      </p>

      <div>
        <h2>Recettes</h2>
        <ul>
          {%for recipe in Recipes %}
            <li>{{ recipe.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </form>

    <script type="text/javascript">
      let ajout = document.getElementsByTagName('button');
      ajout = ajout[0];
      let divElt = document.getElementById('liste_ingredients');
      let i = 1;
      ajout.addEventListener('click', function(e){
          e.preventDefault();
          i++;
          let brElt = document.createElement('br');
          let input = document.createElement('input');
          input.setAttribute("name", `ingredient${i}`);
          divElt.appendChild(input);
          divElt.appendChild(brElt);
      });
    </script>
  </body>
</html>
