<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'recips/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'recips/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Chef Miguel</title>
</head>
<body>

  <header >
    <div class="container">
      <h1 class="text-center">CHEF MIGUEL</h1>
      <nav>
          <ul>
            <div class="row">
               <div class="col-lg-3 bloc-btn">
                  <li class=""><a href="{% url 'recips:home' %}">Trouver recette</a></li>
               </div>
               <div class="col-lg-3 bloc-btn">
                  <li class=""><a href="">Faire bilan</a></li>
               </div>
               <div class="col-lg-3 bloc-btn">
                  <li class=""><a href="">Mes bilans</a></li>
               </div>
             </div>
          </ul>
      </nav>
    </div>
  </header>

  {% block content %}
  {% endblock %}

  <footer>
      <div class="container">
          <nav class="navbar navbar-expand-md">
              <a href="" class="navbar-brand">Chef Miguel</a>
              <ul class="navbar-nav">
                <li class="nav-item active"><a href="{% url 'recips:home' %}" class="nav-link">Acceuil</a></li>
                <li class="nav-item"><a href="" class="nav-link">Recettes</a></li>
                <li class="nav-item"><a href="" class="nav-link">Bilan</a></li>
              </ul>
          </nav>
      </div>
  </footer>
  <script type="text/javascript" src="{% static 'recips/js/jquery.js' %}">
  </script>
  <script type="text/javascript">
       list_ingredients = []
       //create a p element to containt text and ignore some caracters html
       let p = document.createElement('p');
  </script>
  {% for ingredient in ingredients %}
    <script type="text/javascript">
        $(p).html("{{ ingredient.name }}")
        list_ingredients.push({name: $(p).text(),
                              url_img: "{{ ingredient.photo.url }}"
                            });
    </script>
  {% endfor %}
  <script type="text/javascript" src="{% static 'recips/js/main.js' %}"></script>
  </body>
  </html>
